---
BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
FixNamespaceComments: false
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeParens: Never
TabWidth: 4
AccessModifierOffset: -4
SpacesBeforeTrailingComments: 1
IncludeBlocks: Merge
...
